* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background: #153ea6;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 120px;
    padding: 5px 10%;
}

.header .logo {
    cursor: pointer;
    margin-right: auto;
}

.header .logo img {
    height: 95px;
    border-radius: 50%;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.2);
}

.header .nav-links {
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links a {
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
}

.header .nav-links li a:hover {
    color: #000000;
    font-size: 25px;
}

main{
    float: left;
    width: 78%;
}


aside {
    float: right;
    background-color:rgb(235, 235, 235);
    width: 20%;
    height: 85vh;
    float: right;
    margin: 15px;
    color: #00045f;
}

section{
    height: 20%;
    margin: 23px;
}

article{
    color: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: flex-end; 
    align-items: start;
    flex-direction: column;
    padding: 25px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 10000);
}

.art-1{
    background-image: url(../img/maldivas.jpeg);
}

.art-2{
    background-image: url(../img/Rio\ de\ janeiro.jpg);
}
.art-3{
    background-image: url(../img/florida.jpg);
}




.art-3{
    width: 1476px;
}

aside h2 {
    color: #ffffff;
    font-size: 35px;
    margin: 10px;
    margin-bottom: 22px;
}

aside ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

aside ul li {
    margin-bottom: 10px;
}

aside ul li a {
    font-size: 20px;
    margin: 15px;
    text-decoration: none;
    color: #ffffff;
}

aside ul li a:hover {
    color: #000000;
}

footer {
    background-color:#00045f;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    clear: both;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container p {
    margin: 0;
}

.footer-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-container ul li {
    display: inline;
}

.footer-container ul li:not(:last-child) {
    margin-right: 10px;
}

.footer-container ul li a {
    color: #ffffff;
    text-decoration: none;
}

.footer-container ul li a:hover {
    text-decoration: underline;
}

.copyright {
    margin-top: 20px;
}

/* Media queries para hacer el diseño responsive */

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        justify-content: center;
        height: auto;
    }

    .header .logo {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .header .nav-links li {
        display: block;
        padding: 10px 0;
    }

    aside {
        float: none;
        width: 100%;
    }
}
